<!-- templates/collection/collection.html -->
{% extends 'base.html' %}

{% block title %}Collection - {% endblock title %}

{% block app_nav %}
    {% include 'collection/menu.html' %}
{% endblock app_nav %}

{% block content %}
    <h1>Huraaa</h1>
    {% if user.is_authenticated %}
        {% if example %}
            <p>blokovy {{ example }}</p>
        {% else %}
            <p>My second paragraph.</p>
        {% endif %}
    {% else %}
        <p>nejsi user</p>
    {% endif %}
    {% lorem 3 p random %}
{% endblock content %}