<div class="p-lg-3">
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="#" class="nav-link ac-bg-secondary-dark ac-text-tertiary d-flex flex-row flex-nowrap m-1 m-lg-2 p-3" aria-current="page">
                <i class="fas fa-archive pe-lg-4"></i>
                <span class="d-none d-lg-inline">Archive</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link ac-bg-secondary-dark ac-text-tertiary d-flex flex-row flex-nowrap m-1 m-lg-2 p-3">
                <i class="fas fa-globe pe-lg-4"></i>
                <span class="d-none d-lg-inline">Universes</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link ac-bg-secondary-dark ac-text-tertiary d-flex flex-row flex-nowrap m-1 m-lg-2 p-3">
                <i class="far fa-question-circle pe-lg-4"></i>
                <span class="d-none d-lg-inline">Dummy</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link ac-bg-secondary-dark ac-text-tertiary d-flex flex-row flex-nowrap m-1 m-lg-2 p-3">
                <i class="far fa-question-circle pe-lg-4"></i>
                <span class="d-none d-lg-inline">Dummy</span>
            </a>
        </li>
        <li>
            <a href="#" class="nav-link ac-bg-secondary-dark ac-text-tertiary d-flex flex-row flex-nowrap m-1 m-lg-2 p-3">
                <i class="far fa-question-circle pe-lg-4"></i>
                <span class="d-none d-lg-inline">Dummy</span>
            </a>
        </li>
    </ul>
</div>