<!-- templates/base.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        {% load static %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'icons/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'icons/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="stylesheet" href="{% static 'css/mdb/mdb.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/colors.css' %}">
        <title>{% block title %}Page Title | {% endblock title %}Arcane Collector</title>
    </head>
<body class="ac-bg-primary-dark ac-text-tertiary">
    <header>
        {% include 'header.html' %}
    </header>
    
    <main class="d-flex flex-row">
        <nav class="ac-bg-secondary">
            {% block app_nav %}
            {% endblock app_nav %}
        </nav>
        
        <div class="container">
            {% block content %}
            {% endblock content %}
        </div>
    </main>
    <footer class="p-3 ac-bg-secondary-dark ac-text-quaternary-dark">
        {% include 'footer.html' %}
    </footer>
<!--<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>-->
<script src="{% static 'js/mdb/mdb.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>