<!-- templates/navigation.html -->
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item"><a href="{% url 'collection:index' %}" class="nav-link px-2 text-secondary">Collection</a></li>
    <li class="nav-item"><a href="{% url 'inventory:index' %}" class="nav-link px-2 text-white">Inventory</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Dummy</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Dummy</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Dummy</a></li>
</ul>