<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li class="nav-item"><a href="{% url 'collection:index' %}" class="nav-link px-2 text-secondary">Collection</a></li>
    <li class="nav-item"><a href="{% url 'inventory:index' %}" class="nav-link px-2 text-white">Inventory</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Dummy</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Dummy</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Dummy</a></li>
</ul>